/* ================= NAVEGADOR ================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #1c1c1c;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-area img {
    width: 60px;
    height: 60px;
}

.logo-area h1 {
    color: white;
    font-size: 22px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
}

.menu ul li a:hover {
    background-color: #444;
}

/* ================= INICIO ================= */
.inicio {
    height: 90vh;
    background: linear-gradient(
        rgba(93, 90, 90, 0.6),
        rgba(0,0,0,0.6)
    ),
    url("../imagenes/fondo-sharo.jpeg") center/cover no-repeat;

    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inicio-contenido {
    color: white;
    max-width: 700px;
}

.inicio-contenido h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.inicio-contenido p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-inicio {
    text-decoration: none;
    background-color: #e67e22;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-inicio:hover {
    background-color: #cf6d17;
}
/* ================= pie de pagina footer ================= */
/* ===== FOOTER ===== */
.footer{
    background-color: #95c2de;
    color: #131313;
    padding: 50px 20px 0;
}

.wrap-footer{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

/* COLUMNAS */
.footer-col h3,
.footer-col h4{
    margin-bottom: 15px;
    color: #eae9e5;
}

.footer-col p{
    line-height: 1.7;
    font-size: 15px;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin-bottom: 10px;
    font-size: 15px;
}

/* REDES */
.redes{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.redes img{
    width: 35px;
    cursor: pointer;
    transition: transform 0.3s;
}

.redes img:hover{
    transform: scale(1.2);
}

/* FOOTER BOTTOM */
.footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    margin-bottom: 10px;
    font-size: 14px;
}

.legal{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.legal li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.legal li a:hover{
    text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px){
    .footer-bottom{
        text-align: center;
    }

    .legal{
        flex-direction: column;
        gap: 8px;
    }
}

/* ================= pantallas ================= */
@media (max-width:768px) {
    .wrap-footer{
        grid-template-columns: repeat(2,1fr);
    }
    
}
/* =================pantalla de celular  ================= */
@media (max-width:320px) {
    .footer-creds{
       flex-flow: column;
    }
    
}